@media (min-width: 1200px) {
  .container {
    width: 80%; 
    margin: 0 auto;
  }

  .champ-cont {
    margin: 10px;
  }

  .image-container {
    height: auto;
    width: 100%; 
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); 
  }
}

@keyframes slide {
  0% {
    clip-path: polygon(0% 100%, 0% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0% 100%, 0% -100%, 200% 100%);
  }
}

  
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

