@media (min-width: 1200px) {
    .container {
      width: 70%; 
      margin: 0 auto; 
    }
  
    .champ-cont {
      margin: 10px;
    }
  
    .image-container {
      height: auto;
    }
  
    .image-container:hover {
      transform: scale(1); 
      
    }
}

@media screen and (max-width: 805px){
.slider__title .slider__title__row .slider__heading h2 {
    font-size: calc(40px + 3.03vw);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); 
  }
}

@keyframes slide {
  0% {
    clip-path: polygon(0% 100%, 0% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0% 100%, 0% -100%, 200% 100%);
  }
}

  
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}