@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap");


:root {
  --text-color: #f9f9f9;
  --get-button: rgb(208, 168, 92);
  --nav-background: #111;
  --border-radius: 6.4px;
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.web__title {
  display: flex;
  justify-content: center;
  padding: 40px 0 10px 0;
}

.web__title .web__title__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* web - heading */
.web__title .web__title__row .web__heading {
  line-height: 1.1;
}

.web__title .web__title__row .web__heading h3 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}

.web__title .web__title__row .web__heading h2 {
  font-size: calc(61.82px + 3.03vw);
  font-style: italic;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #111;
  color: #fff;
  background-image: url("Assets/bg-lol.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  padding-top: 17vh;
}


a {
  color: #e44d26;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ffcc29;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background: rgba(0, 0, 0, 0.2); /* Set the background color here */
  z-index: 1000;
  transition: background-color 0.1s;
}

.menu-item a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu-item a:hover {
  color: #ffcc29;
}

.logo {
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.menu-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.menu-links li {
  margin: 0 10px;
}

.menu-links a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0 10px;
  transition: color 0.3s;
}

.menu-links a:after {
  content: "";
  position: absolute;
  background-color: #ffcc29;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -20%;
  transition: width 0.75s;
}

.menu-links a:hover:after {
  width: 100%;
}

.menu-links a:hover {
  color: gold;
}

.logo-image {
  max-width: 200px;
  height: auto;
}

/*home*/
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
        background-color: rgba(57, 57, 57, 0.4); 
        color: #fff;
        padding: 20px;     
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 20px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    }
      

    .slideshow {
        display: flex; 
        animation: slideRight 10s linear infinite;
      }
      
      .slideshow img {
        max-width:300px;
        height: auto;
        margin: 0 10px;
      }
      

section#home {
  text-align: center;
}
a{
    color: white;
}

  h1{
    font-size: 3rem;
  }
  h1:hover {
    color: #ffcc29; 
  }


  
/*champions?*/
* {
  font-family: 'Lato', sans-serif;
}

.champ-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  flex-direction: row;
  position: relative;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  height: 150px;
  position: relative;
}

.image-container img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid lightblue;
}

.image-description {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  left: 100%; 
  top: 50%;
  transform: translateY(-50%);
}

.champ-cont:hover .image-description {
  visibility: visible;
  opacity: 1;
  left: calc(60% + 1px); 
}

.image-container:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.image-container:hover .image-description {
  visibility: visible;
  opacity: 1;
}

h3 {
  color: gold;
}

<<<<<<< HEAD

/* SLIDER - TITLE - MAIN */
<<<<<<< Test-Branch-Guatato
=======
=======
>>>>>>> main
/* ROLES */

#roles{
  background-color: #f9f9f9;
}

.slider__right__wrapper p{
  text-align: justify;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

<<<<<<< HEAD
>>>>>>> main

=======
>>>>>>> main
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
} 

.slider__title {
  display: flex;
  justify-content: center;
  padding: 20px 0 5px 0;
}

.slider__title__row{
  color: #111;
}
.slider__title .slider__title__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* slider - heading */
.slider__title .slider__title__row .slider__heading {
  line-height: 1.1;
}

.slider__title .slider__title__row .slider__heading h3 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}

.slider__title .slider__title__row .slider__heading h2 {
  font-size: calc(61.82px + 3.03vw);
  font-style: italic;
}

/* slider - text */
.slider__title .slider__title__row .slider__title__text {
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 0.08em;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* title - button - main */
.slider__title__button {
  font-size: 0.625rem;
}

.slider__title__button .discover-btn {
  display: inline-block;
  margin-right: 10px;
  letter-spacing: 0.15em;
  font-weight: 500;
  min-width: 10.625rem;
  padding: 0.625rem 1.25rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--get-button);
  color: #f9f9f9;
  transition: 0.3s ease;
}


.slider__title__button .discover-btn:hover {
  border-radius: 0;
}


/* SLIDER - CONTAINER */

.slider__container {
  display: flex;
  padding: 50px 0;
}

.slider__container .slider__row {
  display: flex;
  align-items: center;
}

/* slider - left - col */

.slider__left__wrapper {
  display: flex;
  flex-direction: column;
  transform: translateY(60px);
}

.slider__left__wrapper .slider__navigation__col {
  display: flex;
  align-items: center;
}

/* slider - navigation - container - main */
.slider__left__wrapper .slider__navigation__col .slider__navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.slider__left__wrapper .slider__navigation__col .slider__navigation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: rgb(186, 194, 204);
  bottom: -45px;
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col {
  text-align: center;
  margin: 0 25px;
}
/* slider - icon - section */
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation_icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
}

/* slider - icon - active */
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col.active
  .navigation_icon {
  transform: scale(1.2);
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation_icon
  .icon-circle {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: 0.5s ease;
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col.active
  .navigation_icon
  .icon-circle {
  border: 3px solid var(--get-button);
}
/* slider - icon - image */
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation_icon
  img {
  opacity: 0.3;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col.active
  .navigation_icon
  img {
  opacity: 1;
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation_icon:hover
  img {
  opacity: 1;
}
/* slider - navigation - icon - heading */
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation_icon
  h3 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(186, 194, 204);
}
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col.active
  .navigation_icon
  h3 {
  color: #111;
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation_icon:hover
  h3 {
  color: #111;
}
/* navigation - bottom - circle - button */
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation__circle
  .n-circle {
  height: 10px;
  width: 10px;
  background-color: rgb(186, 194, 204);
  border-radius: 50%;
  position: absolute;
  left: 50px;
  bottom: -50px;
  transition: 0.5s ease;
  z-index: 2;
  cursor: pointer;
}
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col:hover
  .navigation__circle
  .n-circle {
  background-color: #111;
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col.active
  .navigation__circle
  .n-circle {
  background-color: goldenrod;
}
.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col
  .navigation__circle
  .n-circle::after {
  content: "";
  height: 0;
  width: 1px;
  left: 4px;
  position: absolute;
  bottom: 0;
  transition: 0.5s ease;
}

.slider__left__wrapper
  .slider__navigation__col
  .slider__navigation
  .navigation__col.active
  .navigation__circle
  .n-circle::after {
  background-color: goldenrod;
  height: 30px;
}

/* slider - navigation - bottom - video */
.slider__left__wrapper .slider__video__section {
  width: 100%;
  height: auto;
  transform: translateX(55px);
  margin-top: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slider__left__wrapper .slider__video {
  display: none;
  width: 100%;
}

.slider__left__wrapper .slider__video.active {
  display: block;
}

.slider__left__wrapper .slider__video__section .slider__video__wrapper video {
  max-width: 500px;
  height: 100%;
  margin-top: 5px;
}

/* slider - right - container - main */

.slider__container .slider__row .slider__right__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__container .slider__row .slider__right__wrapper .slider__right__col {
  display: flex;
  position: relative;
}

.slider__container
  .slider__row
  .slider__right__wrapper
  .slider__right__col
  .slider__right__image {
  position: relative;
  background: transparent;
  display: none;
  width: 100%;
  max-height: 700px;
  padding: 0 30px;
  overflow: hidden;
  animation-name: slide;
  animation-duration: 1200ms;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slider__container
  .slider__row
  .slider__right__wrapper
  .slider__right__col
  .slider__right__image.active {
  display: block;
}

.slider__container
  .slider__row
  .slider__right__wrapper
  .slider__right__col
  .slider__right__image
  img {
  max-height: 700px;
}

.slider__container
  .slider__row
  .slider__right__wrapper
  .slider__right__col
  .slider__right__image
  .slider__image__name {
  position: relative;
  overflow: visible;
  bottom: 150px;
  text-align: center;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  font-size: 13px;
}

.slider__container
  .slider__row
  .slider__right__wrapper
  .slider__right__col
  .slider__right__image
  .slider__image__name
  h3 {
  background: var(--nav-background);
  display: inline-block;
  padding: 0 10px;
  border-top-right-radius: 6.4px;
  border-top-left-radius: 6.4px;
  margin-bottom: 0.4px;
  font-weight: 400;
}
.slider__container
  .slider__row
  .slider__right__wrapper
  .slider__right__col
  .slider__right__image
  .slider__image__name
  p {
  background: var(--nav-background);
  display: inline-block;
  padding: 0 10px;
  border-radius: 6.4px;
  font-weight: 300;
}

/* image - circle - spinner */
.slider__container
  .slider__row
  .slider__right__wrapper
  .slider__right__col
  .slider__right__image
  .circle-spinner {
  position: absolute;
  background: transparent;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(186, 194, 204);
  border-top-color: goldenrod;
  border-bottom-color: goldenrod;
  animation: 5s spin infinite ease-in-out;
}

/* ITEMS */

#items{
  background-color: white;
}

.items_border_normal_small {
  border: 1px solid goldenrod;
  padding: 1px;
  border-radius: 2px;
}

.items_pic_small {
  width: 36px;
  height: 36px;
}

img {
  vertical-align: middle;
}


/* Style for the Community Section with League of Legends Theme */
#community {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#community h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white; 
}

#community p {
  font-size: 1rem;
  margin-bottom: 40px;
}

.community-links {
  display: flex;
  justify-content: center;
}

.community-links a {
  text-decoration: none;
  color:white; 
  margin: 0 20px;
  transition: color 0.3s;
}

.community-links a:hover {
  color: #e44d26; 
}

.community-links img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Container in the jungle */
/*Maps section*/
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.wrapper{
  display: flex;
  position: absolute;
  top: 650%;
  left:7%;

}

.wrapper-2{
 display: flex;
  position: absolute;
  top: 650%;
  left:55%;
}

.wrapper-3{
 display: flex;
 position: absolute;
 top: 720%;
 left: 6%;

}

.wrapper-4{
 display: flex;
 position: absolute;
 top: 720%;
 left: 55%;

}


.card{
  width: 300px;
  height: 400px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

.card:hover{
  transform: translateY(20px);

}

.card:before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  display: block;width: 180%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(205, 205, 205, 0.808), rgba(213, 216, 119, 0.774));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover::before{
  opacity: 1;
}

.card img {
  width: 180%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(0px); 
}

.card .info h1{
  margin: 0;
}

.card .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.wrapper:hover .info h1 {
  color: red;
  opacity: 0.7; 
}
.wrapper-2:hover .info h1 {
  color: blue; /* Hover color for the second wrapper */
  opacity: 0.7;
}

.wrapper-3:hover .info h1 {
  color: pink; /* Hover color for the third wrapper */
  opacity: 0.9;
}

.wrapper-4:hover .info h1 {
  color: green; /* Hover color for the fourth wrapper */
  opacity: 0.7;
}